
OpenCVExample/x64/Debug/Binary.obj
OpenCVExample/x64/Debug/CameraCalibration.obj
OpenCVExample/x64/Debug/Edges.obj
OpenCVExample/x64/Debug/Features.obj
OpenCVExample/x64/Debug/Geometric.obj
OpenCVExample/x64/Debug/Histograms.obj
OpenCVExample/x64/Debug/Images.obj
OpenCVExample/x64/Debug/main.obj
OpenCVExample/x64/Debug/MyApplication.obj
OpenCVExample/x64/Debug/myapplication.obj.enc
OpenCVExample/x64/Debug/opencv_ffmpeg410.dll
OpenCVExample/x64/Debug/opencv_ffmpeg410_64.dll
OpenCVExample/x64/Debug/opencv_world410.dll
OpenCVExample/x64/Debug/opencv_world410.pdb
OpenCVExample/x64/Debug/opencv_world410d.dll
OpenCVExample/x64/Debug/opencv_world410d.pdb
OpenCVExample/x64/Debug/OpenCVExample.Build.CppClean.log
OpenCVExample/x64/Debug/OpenCVExample.exe
OpenCVExample/x64/Debug/OpenCVExample.ilk
OpenCVExample/x64/Debug/OpenCVExample.log
OpenCVExample/x64/Debug/OpenCVExample.pdb
OpenCVExample/x64/Debug/OpenCVExample.tlog/CL.command.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/CL.read.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/CL.write.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/link.command.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/link.read.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/link.write.1.tlog
OpenCVExample/x64/Debug/OpenCVExample.tlog/OpenCVExample.lastbuildstate
OpenCVExample/x64/Debug/Recognition.obj
OpenCVExample/x64/Debug/Region.obj
OpenCVExample/x64/Debug/Utilities.obj
OpenCVExample/x64/Debug/vc141.idb
OpenCVExample/x64/Debug/vc141.pdb
OpenCVExample/x64/Debug/vc142.idb
OpenCVExample/x64/Debug/vc142.pdb
OpenCVExample/x64/Debug/Video.obj
Introductory Lab/StayingInLane_UNCOMPRESSED.avi
